function Fugu.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push constant 16
    pop this 2
    push constant 13
    pop this 3
    push constant 16
    pop this 4
    push constant 1
    pop this 5
    push pointer 0
    push constant 0
    call Fugu.draw_LEGACY 2
    pop temp 0
    push pointer 0
    return
function Fugu.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Fugu.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Fugu.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Fugu.getHeight 0
    push argument 0
    pop pointer 0
    push this 3
    return
function Fugu.get_location 0
    push argument 0
    pop pointer 0
    push argument 2
    push constant 1
    neg
    gt
    push argument 2
    push constant 32
    lt
    and
    push argument 1
    push constant 1
    neg
    gt
    and
    push argument 1
    push this 3
    add
    push constant 257
    lt
    and
    not
    if-goto Fugu_1
    push argument 1
    push constant 32
    call Math.multiply 2
    push argument 2
    add
    return
    goto Fugu_0
label Fugu_1
label Fugu_0
    push constant 52
    return
function Fugu.set_YX 0
    push argument 0
    pop pointer 0
    push argument 2
    push constant 1
    neg
    gt
    push argument 2
    push constant 32
    lt
    and
    not
    if-goto Fugu_3
    push argument 2
    pop this 0
    goto Fugu_2
label Fugu_3
label Fugu_2
    push argument 1
    push constant 1
    neg
    gt
    push argument 1
    push this 3
    add
    push constant 257
    lt
    and
    not
    if-goto Fugu_5
    push argument 1
    pop this 1
    goto Fugu_4
label Fugu_5
label Fugu_4
    push constant 0
    return
function Fugu.draw 2
    push argument 0
    pop pointer 0
    push pointer 0
    push this 1
    push this 0
    call Fugu.get_location 3
    pop local 1
    push constant 16384
    push local 1
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 8448
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 26560
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 14432
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 12344
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 7160
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16339
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 16903
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 17294
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 24604
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 8208
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 14392
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 3168
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 1984
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Fugu.erase 3
    push argument 0
    pop pointer 0
    push pointer 0
    push this 1
    push this 0
    call Fugu.get_location 3
    pop local 2
    push constant 16384
    push local 2
    add
    pop local 0
    push local 0
    push constant 0
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 0
    add
    push local 1
    push constant 8448
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 32
    add
    push local 1
    push constant 26560
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 64
    add
    push local 1
    push constant 14432
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 96
    add
    push local 1
    push constant 12344
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 128
    add
    push local 1
    push constant 7160
    add
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 160
    add
    push local 1
    push constant 16339
    add
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 192
    add
    push local 1
    push constant 16903
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 224
    add
    push local 1
    push constant 17294
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 256
    add
    push local 1
    push constant 24604
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 288
    add
    push local 1
    push constant 8208
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 320
    add
    push local 1
    push constant 14392
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 352
    add
    push local 1
    push constant 3168
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 384
    add
    push local 1
    push constant 1984
    sub
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Fugu.moveUp 0
    push argument 0
    pop pointer 0
    push this 1
    push this 4
    push constant 1
    sub
    gt
    not
    if-goto Fugu_7
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.erase_LEGACY 2
    pop temp 0
    push this 1
    push this 4
    sub
    pop this 1
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.draw_LEGACY 2
    pop temp 0
    goto Fugu_6
label Fugu_7
label Fugu_6
    push constant 0
    return
function Fugu.moveDown 0
    push argument 0
    pop pointer 0
    push this 1
    push this 3
    add
    push constant 256
    push this 4
    sub
    push constant 1
    add
    lt
    not
    if-goto Fugu_9
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.erase_LEGACY 2
    pop temp 0
    push this 1
    push this 4
    add
    pop this 1
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.draw_LEGACY 2
    pop temp 0
    goto Fugu_8
label Fugu_9
label Fugu_8
    push constant 0
    return
function Fugu.moveLeft 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 0
    gt
    not
    if-goto Fugu_11
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.erase_LEGACY 2
    pop temp 0
    push this 0
    push constant 1
    sub
    pop this 0
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.draw_LEGACY 2
    pop temp 0
    goto Fugu_10
label Fugu_11
label Fugu_10
    push constant 0
    return
function Fugu.moveRight 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 31
    lt
    not
    if-goto Fugu_13
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.erase_LEGACY 2
    pop temp 0
    push this 0
    push constant 1
    add
    pop this 0
    push pointer 0
    push this 1
    push constant 32
    call Math.multiply 2
    push this 0
    add
    call Fugu.draw_LEGACY 2
    pop temp 0
    goto Fugu_12
label Fugu_13
label Fugu_12
    push constant 0
    return
function Fugu.draw_LEGACY 1
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 0
    add
    push constant 8448
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 26560
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 14432
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 12344
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 7160
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16339
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 16903
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 17294
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 24604
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 8208
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 14392
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 3168
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 1984
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Fugu.erase_LEGACY 2
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop local 0
    push local 0
    push constant 0
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 0
    add
    push local 1
    push constant 8448
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 32
    add
    push local 1
    push constant 26560
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 64
    add
    push local 1
    push constant 14432
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 96
    add
    push local 1
    push constant 12344
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 128
    add
    push local 1
    push constant 7160
    add
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 160
    add
    push local 1
    push constant 16339
    add
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 192
    add
    push local 1
    push constant 16903
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 224
    add
    push local 1
    push constant 17294
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 256
    add
    push local 1
    push constant 24604
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 288
    add
    push local 1
    push constant 8208
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 320
    add
    push local 1
    push constant 14392
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 352
    add
    push local 1
    push constant 3168
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    call Memory.peek 1
    pop local 1
    push local 0
    push constant 384
    add
    push local 1
    push constant 1984
    sub
    call Memory.poke 2
    pop temp 0
    push constant 0
    return