function Bubble.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push constant 50
    pop this 0
    push argument 0
    pop this 1
    push argument 1
    pop this 2
    push pointer 0
    push this 2
    push constant 32
    call Math.multiply 2
    push this 1
    add
    call Bubble.draw 2
    pop temp 0
    push pointer 0
    return
function Bubble.draw 0
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop argument 1
    push argument 1
    push constant 0
    add
    push constant 14336
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 32
    add
    push constant 25600
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 64
    add
    push constant 13824
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 96
    add
    push constant 32242
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 128
    add
    push constant 32239
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 160
    add
    push constant 17425
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 192
    add
    push constant 15353
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 224
    add
    push constant 1054
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 256
    add
    push constant 2060
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 288
    add
    push constant 2052
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 320
    add
    push constant 2052
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 352
    add
    push constant 2052
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 384
    add
    push constant 2436
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 416
    add
    push constant 2436
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 448
    add
    push constant 1032
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 480
    add
    push constant 1008
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Bubble.erase 0
    push argument 0
    pop pointer 0
    push constant 16384
    push argument 1
    add
    pop argument 1
    push argument 1
    push constant 0
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Bubble.moveRight 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    gt
    not
    if-goto Bubble_1
    push pointer 0
    push this 2
    push constant 32
    call Math.multiply 2
    push this 1
    add
    call Bubble.erase 2
    pop temp 0
    push this 1
    push constant 1
    sub
    pop this 1
    push pointer 0
    push this 2
    push constant 32
    call Math.multiply 2
    push this 1
    add
    call Bubble.draw 2
    pop temp 0
    push constant 1
    neg
    return
    goto Bubble_0
label Bubble_1
label Bubble_0
    push constant 0
    return
function Bubble.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    push this 2
    push constant 32
    call Math.multiply 2
    push this 1
    add
    call Bubble.erase 2
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return